<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block  title%}{%endblock%}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="{% static 'css/ticket.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

{% include 'base/navbar.html' %}

{% block content %}

{% endblock %}

{% include 'base/footer.html' %}

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/auth.js' %}"></script>
<script src="{% static 'js/ticket.js' %}"></script>
<script src="{% static 'js/account.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/checkout.js' %}"></script>
</body>
</html>