{% load static %}
<nav class="navbar">
    <div class="nav-brand">
        <a href="index.html" target="_blank" title="Dhaka Metro">
        <img src="{% static 'img/logo.png' %}" alt="Metro Logo" class="logo"></a>
        <span>Dhaka Metro</span>
    </div>
    <div class="nav-toggle" id="navToggle">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="nav-links">
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="buy-ticket.html">Buy Ticket</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="{% url 'login' %}" class="account-btn">
            {% if request.user.is_authenticated %}
                Dashboard
            {% else %}
                Login
            {% endif %}
        </a></li>
    </ul>
</nav>
